@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&display=swap");

.nav1 {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-family: Mulish;
    gap: 20px;

}

.nav2 {
    display: flex;
    align-items: center;
    gap: 44px;
    font-family: Mulish;

}

.travel {
    color: #FF5400;
    font-family: Mulish;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1250px;
    padding: 52px 127px 52px 127px;

}

.Exp {
    position: absolute;
    align-items: center;
    margin-top: -400px;
    margin-left: 480px;
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.Tex {
    position: absolute;
    margin-top: -295px;
    margin-left: 420px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.input-one {
    margin-top: -10px;
    margin-left: -100px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
}

.input-two {
    margin-top: -10px;
    margin-left: 110px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
}

.input-three {
    margin-top: -10px;
    margin-left: 320px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
}

.btn {
    margin-top: -10px;
    margin-left: 530px;
    background-color: #FF5400;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    position: absolute;
}

.header {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    text-align: center;
    /* opacity: 0.6; */
    background-image: url('image/Groupx.png');
    color: #131318, #13131800;
    background-size: cover;
    height: 500px;
    width: 1250px;
    margin-left: 130px;
    border-radius: 16px;
}

.above {
    margin-top: -160px;
    margin-left: 450px;
}

.hea {
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.oran {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.orange {
    color: #FFF;
    background-color: #FF5400;
    border: #FF5400;
    padding: 15px;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.section2 {
    padding-left: 120px;
}

.part2 {
    display: flex;
}

.pict {
    padding-left: 70px;
    padding-top: 45px;
}

.destination {
    text-align: center;
}

.he {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sec {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.picone {
    display: flex;
    gap: 24px;
    padding-left: 110px;
    height: 323px;

}

.pictwo {
    display: flex;
    gap: 24px;
    padding-left: 105px;
    height: 315px;
}

.picthree {
    display: flex;
    gap: 24px;
    padding-left: 100px;
    height: 328px;
}

.chose {
    color: #131318;

    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.nextpera {

    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.fhotel {
    padding-left: 190px;


}

.thotel {
    margin-left: 550px;
    margin-top: -265px;
}

.price {
    margin-top: 20px;
    padding-left: 440px;
}

.news {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.newspara {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.names {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.emails {

    width: 393px;
    height: 100px;
    margin-bottom: 100px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);

}

.subs {
    background-color: #FF5400;
    color: white;
    border: #FF5400;
    padding: 15px;

}

.newslett {
    padding-left: 120px;
}

.newslett {
    background-color: white;
    border-color: #FF5400;
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 400px;
    margin-left: 120px;

}

.full {
    display: flex;
    gap: 24px;
}

.footer {
    background: rgba(19, 19, 24, 0.05);
    width: 1510px;
    height: 600px;
    position: relative;

}

.muvin {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-family: Mulish;
    gap: 10px;
}

.banner {
    display: flex;
    gap: 20px;
    padding-left: 600px;
    padding-top: 150px;
}

.last {
    text-align: center;
}

.fb {
    padding-left: 630px;
    padding-top: 40px;
}

.hr {
    background: rgba(19, 19, 24, 0.10);
    width: 872px;
    height: 1px;
}

.right {
    color: #131318;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 650px;
    padding-top: 10px;
}


/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 600px) {
    .nav1 {
        margin-left: -100px;
    }

    .header {
        width: 405px;
        height: 483px;
        margin-left: 10px;
    }

    .Exp {
        padding-top: -200px;
        color: white;
        font-size: 20px;
        margin-left: 130px;

    }

    .Tex {
        padding-top: -350px;
        color: white;
        font-size: 10px;
        margin-left: 60px;

    }

    .input-one {
        font-size: 10px;
        margin-top: -50px;
        margin-left: -300px;
    }

    .input-two {
        font-size: 10px;
        margin-top: -85px;
        margin-left: -300px;
    }

    .input-three {
        font-size: 10px;
        margin-top: -15px;
        margin-left: -300px;

    }

    .btn {
        font-size: 10px;
        margin-top: 30px;
        margin-left: -340px;
    }

    .pict {
        /* width: 405px;
        height: 483px; */
        margin-left: -400px;
        margin-top: 1100px;
    }

    .im1 {
        margin-left: -90px;
        width: 550px;
    }

    .im2 {
        display: none;
    }

    .im4 {
        display: none;
    }

    .im5 {
        display: none;
    }

    .im6 {
        margin-left: -70px;
    }

    .im7 {
        display: none;
    }

    .fhotel {
        margin-left: -150px;
    }

    .thotel {
        margin-left: -5px;
        margin-top: 50px;
    }

    .price {
        margin-left: -400px;
        margin-top: 60px;
    }

    .newslett {
        margin-left: 25px;
        height: 550px;
    }

    .wow {
        width: 500px;
        height: 300px;
        flex-shrink: 0;
        margin-top: 600px;
        margin-left: -530px;

    }

    .footer {
        background: rgba(19, 19, 24, 0.05);
        width: 595px;
        height: 309px;
        padding-top: 100px;
        margin-left: -10px;
        flex-shrink: 0;
    }
.banner{
    margin-left: -470px;
    margin-top: -120px;
}
.fb{
   margin-left: -460px;
   margin-top: -300px;
}
.hr{
    width: 450px;
    margin-top: 10px;
}
.right{
    margin-left: -460px;
}

}




